INSTALL_DIR=/data/monkeycode-ai
REMOTE_IP=
NGINX_PORT=80
POSTGRES_DB=monkeycode-ai
POSTGRES_USER=monkeycode-ai
POSTGRES_PASSWORD=
REDIS_PASSWORD=
CLICKHOUSE_DB=monkeycode-ai
CLICKHOUSE_USER=monkeycode-ai
CLICKHOUSE_PASSWORD=
RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
TEAM_EMAIL=
TEAM_NAME=MonkeyCode
TEAM_PASSWORD=
INIT_TEAM_IMAGE=
SUBNET_PREFIX=10.100.50
RELAY_SECRET=
POSTGRES_IMAGE=
REDIS_IMAGE=
CLICKHOUSE_IMAGE=
RUSTFS_IMAGE=
INGRESS_IMAGE=
TASKFLOW_IMAGE=
PREVIEW_IMAGE=
FRONTEND_IMAGE=
BACKEND_IMAGE=
