{
  "snapshot": false,
  "agent": {
    "title": {
      "disable": true
    }
  },
  "provider": {
    "monkeycode-ai": {
      "npm": "{{.npm_package}}",
      "name": "monkeycode-ai",
      "options": {
        "baseURL": "{{.base_url}}"
      },
      "models": {
        "{{.model}}": {
{{- if not .thinking_enabled }}
          "options": {"thinking": {"type":"disabled"}},
{{- end }}
          "name": "{{.model}}",
          "limit": {"context": {{.context_limit}}, "output": {{.output_limit}}}
        }
      }
    }
  },
  "model": "monkeycode-ai/{{.model}}",
  "disabled_providers": ["openai", "opencode"],
  "instructions": ["/tmp/codingmatrix-project-tpl/.ai-ready/rules/*.md"]
}
